body {
  height : 100%;
   margin-top:30px;
}
#login-nav input { margin-bottom: 15px; }
.nav-font{
		font-size : 17px;
		font-weight : bold;		
}
.nav-arr{
	margin-left: 300px;
}
.nav-array{
	margin-right:250px;
}
.portfolio-item {
	margin-bottom: 10px;
}

.page{
	padding-top:50px;
}
#footer {
  height: 60px;
  background-color: #f5f5f5;
}